@inherits LayoutComponentBase
@using MauiClient.Services
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
	<div class="page">
		<main>
		@Body
		</main>
		<NavMenu />
	</div>

@code {

}