@using MauiClient.Services
@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<div class="page">
	<main>
		@Body
	</main>
	<NavMenu />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Перевірка, чи користувач авторизований
        var isLoggedIn = await AuthService.IsUserLoggedInAsync();
        if (!isLoggedIn)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}