@page "/chats"
@using MauiClient.Services
@using ChatServiceDTOs.Chats
@inject IChatService ChatService
@inject NavigationManager NavigationManager

@if (chatRooms == null)
{
	<p>Завантаження чатів...</p>
}
else if (!chatRooms.Any())
{
	<p>Чати не знайдено.</p>
}
else
{
	<ul class="chat-list">
		@foreach (var chat in chatRooms)
		{
			<li>
				@chat
			</li>
		}
	</ul>
}

@code {
	private IEnumerable<ChatRoomDto> chatRooms = new List<ChatRoomDto>();

	protected override async Task OnInitializedAsync()
	{
		chatRooms = await ChatService.GetPrivateChatRoomsAsync();
	}

	private void OpenChat(int chatId)
	{
		NavigationManager.NavigateTo($"/chat/{chatId}");
	}
}
