@page "/register"
@attribute [AllowAnonymous]
@using Shared.DTOs.Identity
@using MauiClient.Services
@using MauiClient.Components.Layout
@layout NoLayout
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<div class="reestr-wrap">
	<h3>Реєстрація користувача</h3>

	<div>
		<input @bind="registerModel.UserName" placeholder="Логін" />
	</div>

	<div>
		<input @bind="registerModel.Email" placeholder="Email" />
	</div>

	<div>
		<input type="password" @bind="registerModel.Password" placeholder="Пароль" />
	</div>

	<div>
		<button @onclick="OnRegister">Зареєструватися</button>
	</div>

	<div>
		<button @onclick='() => NavigationManager.NavigateTo("/login")'>Вже є акаунт? Увійти</button>
	</div>
</div>


@if (!string.IsNullOrEmpty(message))
{
		<p>@message</p>
}

<style>
	.reestr-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #430d40;
	column-gap: 15px;
	border-radius: 8px;
}
</style>

@code {
	private RegisterDto registerModel = new RegisterDto();
	private string message = string.Empty;

	private async Task OnRegister()
	{
		var success = await AuthService.RegisterAsync(registerModel);
		if (success)
		{
			message = "Реєстрацію пройдено успішно. Тепер увійдіть у систему.";
			NavigationManager.NavigateTo("/login");
		}
		else
		{
			message = "Помилка при реєстрації. Спробуйте ще раз.";
		}
	}
}
